body {
    background-color: #121213;
    color: #40ff59;
    font-family: "Press Start 2P", cursive;
    font-size: 13px;

}

h1,h2,h3,h4,h5,h6 {
    text-align: center;
    font-size: 2em;
}


/* styling for blog posts */

.Blog-post {
    margin-bottom: 40px;
    list-style: none;
    max-width: 600px;
}
.Blog-post-container{
    display: flex;
    justify-content: center;
}

.Blog-post-list{
    flex-direction: column-reverse;
}


/*======================*/





/* styling for lost archives */

.LA-header {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.LA-class-id {
justify-content: center;
    font-size: 0.90em;
    margin-bottom: 30px;
}

.LA-class-id li{
    margin-bottom: 20px;
    padding: 1px;
}

.LA-transcript {
    margin-top: 30px;
    line-height: 1.6;
    font-size: 0.95em;
    text-decoration: none;
}

.LA-transcript li {
    padding: 15px;
    list-style-type: none;
    
    
}

.LA-transcript-date {
    justify-content: center;
    text-align: left;
    font-size: 0.85em;
    margin-top: 40px;

}
.LA-transcript-date li{
    margin-bottom: 10px;
    padding: 1px;
    list-style-type: none;
}

.LA-date {
    text-align: center;
    font-size: 0.85em;
    
    margin: 20px 0;
}

.LA-doc-type {
    font-size: 0.85em;
    text-align: center;
    margin: 20px 0;
}
.LA-p {
    justify-content: center;
    font-size: 0.8em;
    line-height: 1.6;
    margin: 15px;
    padding: var(--padding-size-y) var(--padding-size-x);
    
}

.LA-container {
    display: flex;
    justify-content: center;
}

.LA-container p,li,.LA-transcript-date li{
    max-width: 600px;
}

/*======================*/