* {
  color: #bf4b56;
}

.LightSq {
  background-color: #a38799;
  background-image: url('../img/tileable/tile_brick_wall.gif');
  background-repeat: repeat;
}

.meatalBox {
  border: 10px solid transparent;
  border-image-source: url(../img/tileable/Meatelbox.png);
  border-image-slice: 10 fill;
  border-image-repeat: repeat;
}

.LinkMB:hover {
  color: #422137;
  font-size: 3em;
}

.LinkMA:hover {
  color: #422137;
  font-size: 1.5em;
}

.LinkMC:hover {
  color: #422137;
  font-size: 1.15em;
}

.butten_P {
  border: 20px solid transparent;
  border-image-source: url(../img/tileable/buttenv2.png);
  border-image-slice: 13 fill;
  border-image-repeat: repeat;
  font-size: 0.75em;
}

footer  :hover {
  cursor:auto
}