

    body {
      font-family: monospace;
      background-color: black;;
      color: #0f0;
      margin: 0;
      padding: 0;
    }
    .console {
      padding: 20px;
      height: 80vh;
      overflow-y: auto;
      border-bottom: 2px solid #333;
    }
    .input-line {
      display: flex;
      padding: 10px;
      background-color: #000;
    }
    .prompt {
      margin-right: 5px;
    }
    input[type="text"] {
      flex: 1;
      background: #000;
      color: #0f0;
      border: none;
      outline: none;
      font-family: monospace;
      font-size: 16px;
    }
    .output-line {
      margin: 2px 0;
    }
    .error { color: #f33; }
    .success { color: #3f3; }