/*#3A4030,  #655f28, #737D8D, #283A48, #20313F*/

* {
    color: #f5fff7;
    font-style: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;

    font-family: "Metamorphous";

}

/*media querie*/
@media only screen and (min-width:1px) and (max-width: 1080px) {

    /* CSS rules to apply when the viewport width is 600px or less */
    .nav-el {
        flex-wrap: wrap;
        padding: auto;
    }

    .media {
       justify-content: center;
    }

    .butten {
        font-size: 15px;
        padding: auto;
        border: 12px solid transparent !important;
        border-image-source: url(../img/tileable/buttenv2.png) !important;
        border-image-slice: 13 fill !important;
        border-image-repeat: repeat !important;
    }

    .media-fsS {
        font-size: 20px;
    }

    .media-fsM {
        font-size: 30px;
    }

    .media-fsL {
        font-size: 15px;
    }

    body{
            background-color: #3A4030;
    }


}
.LinkB:hover {
    color: #aefafa;
    font-size: 1.02em;
}

.LinkA:hover {
    color: #aefafa;
    font-size: 1.02em;

}

.LinkC:hover {
    color: #aefafa;
    font-size: 1.02em;

}


.gilded_brick {

    background-color: #3A4030;
    background-image: url('../img/tileable/geiled_brick.png');
    background-repeat: repeat;

}

.butten {
    border: 20px solid transparent;
    border-image-source: url(../img/tileable/buttenv2.png);
    border-image-slice: 13 fill;
    border-image-repeat: repeat;
}

.M-Toper {
    margin: 0 0 45px 0;
}

.M-Toper ul {
    color: #655f28;
    font-size: 2.5em;
    align-items: center;
    display: flex;
    justify-content: center;
}

.M-Toper ul li {

    margin: 0 15px;
}


body {
    background-color: #3A4030;
    background-image: url('../img/tileable/tile_brick_wall.gif');
    background-repeat: repeat;
}

.certs {
    font-size: 1.5em;
    margin: 0 0 45px 0;
}

.certs h2 {
    font-size: 2.5em;
    align-items: center;
    display: flex;
    justify-content: center;
}

.M-h1 {
    font-size: 2.5em;
    margin: 25px;
    align-items: center;
    display: flex;
    justify-content: center;
    ;
}

.B-Bivel {
    border: 20px solid transparent;
    border-image-source: url(../img/tileable/weendow.gif);
    border-image-slice: 13 fill;
    border-image-repeat: repeat;
}

.B-InBivelS {
    border: 10px solid transparent;
}



.About-me {

    margin: 0 0 45px 0;
}

.About-me h2 {
    font-size: 2.5em;
    align-items: center;
    display: flex;
    justify-content: center;
}

.About_meB {
    font-size: 1.5em;
    align-items: center;
    display: flex;
    justify-content: center;
}

.projects {

    font-size: 1.5em;
    margin: 0 0 45px 0;
}

.projects h2 {
    font-size: 2.5em;
    align-items: center;
    display: flex;
    justify-content: center;
}

footer {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1.50em;

    border: 20px solid transparent;
    border-image-source: url(../img/tileable/weendow.gif);
    border-image-slice: 13 fill;
    border-image-repeat: repeat;
}